.ReactModal__Content form {
  display: flex;
  flex-direction: column;
}

.ReactModal__Content form label {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.ReactModal__Content form input {
  margin-left: 20px;
}

.ReactModal__Content input[type=submit] {
  border: none;
  padding: 5px 10px;
  margin: 0 auto;
  width: 100px;
}
