.ReactModal__Content form {
  display: flex;
  flex-direction: column;
}

.ReactModal__Content form label {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

.ReactModal__Content form label input {
  margin-left: 20px;
}
